fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0
python-dotenv>=1.0.0

celery>=5.3.0
redis>=5.0.0
langchain-redis>=0.2.6

langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langgraph>=0.1.0
neo4j>=5.14.0

llama-cpp-python[server]>=0.2.80
langchain-openai>=0.1.0 
langchain-huggingface>=0.0.3
sentence-transformers>=2.7.0

prometheus-fastapi-instrumentator>=7.0.0